---
layout: layouts/standard_header_footer.liquid
---
<div style="border-style: dashed; border-color: green; border-width: 20px;">
  <h1>A basic page</h1>
  <p>I am basic, but I can tell you:  <b>{{ message }}</b></p>
</div>